.login {
    height: 100vh;
    background-image: linear-gradient(217deg, #6fb9f8, #3daaf85e, #49d3fc1a, #3fd3ff00);
}

.logintop {
    width: 100%;
    height: 240px;
}

.loginnav {
    margin-left: 20px;
    color: #597fe7;
}

.Sign {
    margin-right: 10px;
}